software/common/resources/grid/resolution_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OGSANaming"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schemas.ggf.org/naming/2006/03/naming"
    xmlns:tns="http://schemas.ggf.org/naming/2006/03/naming"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing">

    <types>
        <xsd:schema 
           targetNamespace="http://schemas.ggf.org/naming/2006/03/naming"
           attributeFormDefault="unqualified"
            elementFormDefault="qualified">

            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../ws/addressing/WS-Addressing.xsd"/>

        <xsd:include schemaLocation="naming.xsd"/>

           <xsd:element name="resolveResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="resolved-epr"
                            type="wsa:EndpointReferenceType"
                            minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="resolve" type="xsd:anyURI"/>

        </xsd:schema>
    </types>

    <message name="resolveResponse">
        <part name="resolveResponse" element="tns:resolveResponse"/>
    </message>

    <!-- naming::resolve -->
    <message name="resolveRequest">
        <part name="resolveRequest" element="tns:resolve"/>
    </message>


    <!-- Fault Messages -->
    <message name="UnknownResourceFault">
        <part name="UnknownResourceFault" 
                element="tns:UnknownResourceFault"/>
    </message>

    <portType name="Naming">
	<operation name="resolve">
	    <input message="tns:resolveRequest"/>
	    <output message="tns:resolveResponse"/>
            <fault name="UnknownResourceFault" 
                message="tns:UnknownResourceFault"/>        
	</operation>
    </portType>

</definitions>
