aim-software/aim-data-service/schema/AIMDataService/AIMDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aim.cagrid.nci.nih.org/AIMDataService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns2="http://gov.nih.nci.cagrid.data/DataService" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns6="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" xmlns:ns12="http://transfer.cagrid.org/Transfer" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns10="http://gov.nih.nci.cagrid.data/DataServiceExceptions" xmlns:ns9="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" xmlns:ns1="http://aim.cagrid.nci.nih.org/AIMDataService/types" xmlns:ns8="http://aim.cagrid.nci.nih.org/AIMDataService/CQLResultTypes" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns11="http://transfer.cagrid.org/TransferService/Context/types" xmlns:ns0="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" xmlns:ns7="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" name="AIMDataService" targetNamespace="http://aim.cagrid.nci.nih.org/AIMDataService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://gov.nih.nci.cagrid.data/DataService" location="./DataService.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://aim.cagrid.nci.nih.org/AIMDataService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <import namespace="http://transfer.cagrid.org/Transfer" schemaLocation="./caGrid_Transfer.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.data/DataServiceExceptions" schemaLocation="./DataServiceExceptions.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" schemaLocation="./xsd/cagrid/types/data/data.xsd" />
      <import namespace="http://aim.cagrid.nci.nih.org/AIMDataService/types" schemaLocation="./AIMDataServiceTypes.xsd" />
      <import namespace="http://aim.cagrid.nci.nih.org/AIMDataService/CQLResultTypes" schemaLocation="./AIMDataService_CQLResultTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/Context/types" schemaLocation="./TransferServiceContextTypes.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" schemaLocation="./AIM_TCGA09302009_Model.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./1_gov.nih.nci.cagrid.CQLResultSet.xsd" />
      <element name="SubmitRequest">
        <complexType>
          <sequence>
            <element name="xmls" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SubmitResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="QueryByTransferRequest">
        <complexType>
          <sequence>
            <element name="cqlQuery">
              <complexType>
                <sequence>
                  <element ref="ns6:CQLQuery" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="QueryByTransferResponse">
        <complexType>
          <sequence>
            <element ref="ns11:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SubmitByTransferRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SubmitByTransferResponse">
        <complexType>
          <sequence>
            <element ref="ns11:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AIMDataServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns9:DomainModel" />
            <element ref="ns3:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="SubmitRequest">
    <part name="parameters" element="tns:SubmitRequest" />
  </message>
  <message name="SubmitResponse">
    <part name="parameters" element="tns:SubmitResponse" />
  </message>
  <message name="QueryByTransferRequest">
    <part name="parameters" element="tns:QueryByTransferRequest" />
  </message>
  <message name="QueryByTransferResponse">
    <part name="parameters" element="tns:QueryByTransferResponse" />
  </message>
  <message name="SubmitByTransferRequest">
    <part name="parameters" element="tns:SubmitByTransferRequest" />
  </message>
  <message name="SubmitByTransferResponse">
    <part name="parameters" element="tns:SubmitByTransferResponse" />
  </message>
  <message name="QueryProcessingExceptionFaultMessage">
    <part name="fault" element="ns10:QueryProcessingException" />
  </message>
  <message name="MalformedQueryExceptionFaultMessage">
    <part name="fault" element="ns10:MalformedQueryException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="AIMDataServicePortType" wsrp:ResourceProperties="tns:AIMDataServiceResourceProperties">
    <operation name="submit">
      <input message="tns:SubmitRequest" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/SubmitRequest" />
      <output message="tns:SubmitResponse" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/SubmitResponse" />
      <fault name="QueryProcessingException" message="tns:QueryProcessingExceptionFaultMessage" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="tns:MalformedQueryExceptionFaultMessage" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/MalformedQueryExceptionFaultMessage" />
    </operation>
    <operation name="queryByTransfer">
      <input message="tns:QueryByTransferRequest" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/QueryByTransferRequest" />
      <output message="tns:QueryByTransferResponse" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/QueryByTransferResponse" />
      <fault name="QueryProcessingException" message="tns:QueryProcessingExceptionFaultMessage" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="tns:MalformedQueryExceptionFaultMessage" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/MalformedQueryExceptionFaultMessage" />
    </operation>
    <operation name="submitByTransfer">
      <input message="tns:SubmitByTransferRequest" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/SubmitByTransferRequest" />
      <output message="tns:SubmitByTransferResponse" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/SubmitByTransferResponse" />
      <fault name="QueryProcessingException" message="tns:QueryProcessingExceptionFaultMessage" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="tns:MalformedQueryExceptionFaultMessage" wsa:Action="http://aim.cagrid.nci.nih.org/AIMDataService/MalformedQueryExceptionFaultMessage" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="query">
      <input message="wns2:QueryRequest" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryRequest" />
      <output message="wns2:QueryResponse" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryResponse" />
      <fault name="QueryProcessingException" message="wns2:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="wns2:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/MalformedQueryExceptionFaultMessage" />
    </operation>
  </portType>
</definitions>

