software/nbia-service/schema/NBIAService/EnumerationDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://schemas.xmlsoap.org/ws/2004/09/enumeration" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:ns2="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService/types" xmlns:ns0="http://gov.nih.nci.cagrid.data/DataServiceExceptions" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/09/enumeration" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns6="http://gov.nih.nci.cagrid.enumeration/EnumerationResponseContainer" name="EnumerationDataService" targetNamespace="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" location="./enumeration.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="./addressing.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.enumeration/EnumerationResponseContainer" schemaLocation="./EnumerationResponseContainer.xsd"/>
      <import namespace="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService/types" schemaLocation="./EnumerationDataServiceTypes.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.data/DataServiceExceptions" schemaLocation="./DataServiceExceptions.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" schemaLocation="./enumeration.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <element name="EnumerationQueryRequest">
        <complexType>
          <sequence>
            <element name="cqlQuery">
              <complexType>
                <sequence>
                  <element ref="ns1:CQLQuery" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="EnumerationQueryResponse">
        <complexType>
          <sequence>
            <element ref="ns6:EnumerationResponseContainer" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="EnumerationDataServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="EnumerationQueryRequest">
    <part name="parameters" element="tns:EnumerationQueryRequest" />
  </message>
  <message name="EnumerationQueryResponse">
    <part name="parameters" element="tns:EnumerationQueryResponse" />
  </message>
  <message name="MalformedQueryExceptionFaultMessage">
    <part name="fault" element="ns0:MalformedQueryException" />
  </message>
  <message name="QueryProcessingExceptionFaultMessage">
    <part name="fault" element="ns0:QueryProcessingException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="EnumerationDataServicePortType" wsrp:ResourceProperties="tns:EnumerationDataServiceResourceProperties">
    <operation name="enumerationQuery">
      <input message="tns:EnumerationQueryRequest" wsa:Action="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService/EnumerationQueryRequest" />
      <output message="tns:EnumerationQueryResponse" wsa:Action="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService/EnumerationQueryResponse" />
      <fault name="MalformedQueryException" message="tns:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService/MalformedQueryExceptionFaultMessage" />
      <fault name="QueryProcessingException" message="tns:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data.enumeration/EnumerationDataService/QueryProcessingExceptionFaultMessage" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

