software/nbia-service/schema/NBIAService/gov.nih.nci.ncia.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/4.0/gov.nih.nci.ncia.domain" targetNamespace="gme://caCORE.caCORE/4.0/gov.nih.nci.ncia.domain" elementFormDefault="qualified">
  <xs:element name="ClinicalTrialSite" type="ClinicalTrialSite" />
  <xs:complexType name="ClinicalTrialSite">
    <xs:sequence>
      <xs:element name="subjectCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialSubject" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="siteId" type="xs:string" />
    <xs:attribute name="siteName" type="xs:string" />
  </xs:complexType>
  <xs:element name="Image" type="Image" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="series" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Series" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="acquisitionDate" type="xs:dateTime" />
    <xs:attribute name="acquisitionDatetime" type="xs:string" />
    <xs:attribute name="acquisitionMatrix" type="xs:double" />
    <xs:attribute name="acquisitionNumber" type="xs:integer" />
    <xs:attribute name="acquisitionTime" type="xs:string" />
    <xs:attribute name="anatomicRegionSequence" type="xs:string" />
    <xs:attribute name="columns" type="xs:integer" />
    <xs:attribute name="contentDate" type="xs:dateTime" />
    <xs:attribute name="contentTime" type="xs:string" />
    <xs:attribute name="contrastBolusAgent" type="xs:string" />
    <xs:attribute name="contrastBolusRoute" type="xs:string" />
    <xs:attribute name="convolutionKernel" type="xs:string" />
    <xs:attribute name="ctPitchFactor" type="xs:integer" />
    <xs:attribute name="dataCollectionDiameter" type="xs:double" />
    <xs:attribute name="exposure" type="xs:integer" />
    <xs:attribute name="exposureInMicroAs" type="xs:integer" />
    <xs:attribute name="exposureTime" type="xs:integer" />
    <xs:attribute name="focalSpotSize" type="xs:double" />
    <xs:attribute name="gantryDetectorTilt" type="xs:double" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="imageComments" type="xs:string" />
    <xs:attribute name="imageLaterality" type="xs:string" />
    <xs:attribute name="imageOrientationPatient" type="xs:string" />
    <xs:attribute name="imagePositionPatient" type="xs:string" />
    <xs:attribute name="imageType" type="xs:string" />
    <xs:attribute name="instanceNumber" type="xs:integer" />
    <xs:attribute name="kvp" type="xs:double" />
    <xs:attribute name="lossyImageCompression" type="xs:string" />
    <xs:attribute name="patientPosition" type="xs:string" />
    <xs:attribute name="pixelSpacing" type="xs:double" />
    <xs:attribute name="reconstructionDiameter" type="xs:double" />
    <xs:attribute name="revolutionTime" type="xs:integer" />
    <xs:attribute name="rows" type="xs:integer" />
    <xs:attribute name="scanOptions" type="xs:string" />
    <xs:attribute name="singleCollimationWidth" type="xs:integer" />
    <xs:attribute name="sliceLocation" type="xs:double" />
    <xs:attribute name="sliceThickness" type="xs:double" />
    <xs:attribute name="sopClassUID" type="xs:string" />
    <xs:attribute name="sopInstanceUID" type="xs:string" />
    <xs:attribute name="sourceSubjectDistance" type="xs:double" />
    <xs:attribute name="sourceToDetectorDistance" type="xs:double" />
    <xs:attribute name="storageMediaFileSetUID" type="xs:string" />
    <xs:attribute name="tableFeedPerRotation" type="xs:integer" />
    <xs:attribute name="tableSpeed" type="xs:integer" />
    <xs:attribute name="totalCollimationWidth" type="xs:integer" />
    <xs:attribute name="xrayTubeCurrent" type="xs:integer" />
  </xs:complexType>
  <xs:element name="Patient" type="Patient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element name="dataProvenance" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TrialDataProvenance" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="subjectCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialSubject" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="studyCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Study" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ethnicGroup" type="xs:string" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="patientBirthDate" type="xs:dateTime" />
    <xs:attribute name="patientId" type="xs:string" />
    <xs:attribute name="patientName" type="xs:string" />
    <xs:attribute name="patientSex" type="xs:string" />
  </xs:complexType>
  <xs:element name="Equipment" type="Equipment" />
  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element name="seriesCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Series" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="deviceSerialNumber" type="xs:string" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="institutionAddress" type="xs:string" />
    <xs:attribute name="institutionName" type="xs:string" />
    <xs:attribute name="manufacturer" type="xs:string" />
    <xs:attribute name="manufacturerModelName" type="xs:string" />
    <xs:attribute name="softwareVersions" type="xs:string" />
    <xs:attribute name="stationName" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClinicalTrialSponsor" type="ClinicalTrialSponsor" />
  <xs:complexType name="ClinicalTrialSponsor">
    <xs:sequence>
      <xs:element name="protocolCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialProtocol" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="coordinatingCenter" type="xs:string" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="sponsorName" type="xs:string" />
  </xs:complexType>
  <xs:element name="Study" type="Study" />
  <xs:complexType name="Study">
    <xs:sequence>
      <xs:element name="seriesCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Series" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="patient" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Patient" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="additionalPatientHistory" type="xs:string" />
    <xs:attribute name="admittingDiagnosesCodeSequence" type="xs:string" />
    <xs:attribute name="admittingDiagnosesDescription" type="xs:string" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="occupation" type="xs:string" />
    <xs:attribute name="patientAge" type="xs:string" />
    <xs:attribute name="patientSize" type="xs:double" />
    <xs:attribute name="patientWeight" type="xs:double" />
    <xs:attribute name="studyDate" type="xs:dateTime" />
    <xs:attribute name="studyDescription" type="xs:string" />
    <xs:attribute name="studyId" type="xs:string" />
    <xs:attribute name="studyInstanceUID" type="xs:string" />
    <xs:attribute name="studyTime" type="xs:string" />
    <xs:attribute name="timePointDescription" type="xs:string" />
    <xs:attribute name="timePointId" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClinicalTrialProtocol" type="ClinicalTrialProtocol" />
  <xs:complexType name="ClinicalTrialProtocol">
    <xs:sequence>
      <xs:element name="subjectCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialSubject" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="trial" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialSponsor" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="protocolId" type="xs:string" />
    <xs:attribute name="protocolName" type="xs:string" />
  </xs:complexType>
  <xs:element name="CurationData" type="CurationData" />
  <xs:complexType name="CurationData">
    <xs:sequence>
      <xs:element name="annotationFile" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Annotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="series" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Series" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="patient" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Patient" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="study" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Study" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="image" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Image" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="cdeId" type="xs:string" />
    <xs:attribute name="cdeName" type="xs:string" />
    <xs:attribute name="cdeValue" type="xs:string" />
    <xs:attribute name="cdeVersion" type="xs:string" />
    <xs:attribute name="curationTimestamp" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="trialName" type="xs:string" />
    <xs:attribute name="userId" type="xs:integer" />
  </xs:complexType>
  <xs:element name="Series" type="Series" />
  <xs:complexType name="Series">
    <xs:sequence>
      <xs:element name="equipment" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Equipment" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="study" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Study" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="imageCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Image" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="annotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="bodyPartExamined" type="xs:string" />
    <xs:attribute name="frameOfReferenceUID" type="xs:string" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="laterality" type="xs:string" />
    <xs:attribute name="modality" type="xs:string" />
    <xs:attribute name="protocolName" type="xs:string" />
    <xs:attribute name="seriesDate" type="xs:dateTime" />
    <xs:attribute name="seriesDescription" type="xs:string" />
    <xs:attribute name="instanceUID" type="xs:string" />
    <xs:attribute name="seriesNumber" type="xs:integer" />
    <xs:attribute name="synchronizationFrameOfReferenceUID" type="xs:string" />
  </xs:complexType>
  <xs:element name="TrialDataProvenance" type="TrialDataProvenance" />
  <xs:complexType name="TrialDataProvenance">
    <xs:sequence>
      <xs:element name="patientCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Patient" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="project" type="xs:string" />
    <xs:attribute name="siteId" type="xs:string" />
    <xs:attribute name="siteName" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClinicalTrialSubject" type="ClinicalTrialSubject" />
  <xs:complexType name="ClinicalTrialSubject">
    <xs:sequence>
      <xs:element name="site" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialSite" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="patient" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Patient" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="protocol" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClinicalTrialProtocol" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="subjectId" type="xs:string" />
    <xs:attribute name="subjectReadingId" type="xs:string" />
  </xs:complexType>
  <xs:element name="Annotation" type="Annotation" />
  <xs:complexType name="Annotation">
    <xs:sequence>
      <xs:element name="series" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Series" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="filePath" type="xs:string" />
    <xs:attribute name="fileSize" type="xs:integer" />
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="seriesInstanceUID" type="xs:string" />
    <xs:attribute name="submissionDate" type="xs:dateTime" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
</xs:schema>

