software/nbia-service/schema/NBIAService/NBIAService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nbia.nci.nih.gov/NBIAService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns3="http://org.cagrid.dataservice/DataService" xmlns:wns5="http://org.cagrid.dataservice.transfer/Cql2TransferDataService" xmlns:wns4="http://gov.nih.nci.cagrid.data.transfer/TransferDataService" xmlns:wns2="http://gov.nih.nci.cagrid.data/DataService" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns11="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns13="http://gov.nih.nci.cagrid.data/DataServiceExceptions" xmlns:ns12="http://org.cagrid.dataservice.cql/QueryLanguageSupport" xmlns:ns0="http://nbia.nci.nih.gov/NBIAService/types" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns14="http://transfer.cagrid.org/TransferService/Context/types" xmlns:ns10="http://nbia.nci.nih.gov/NBIAService/CQLResultTypes" xmlns:ns6="http://CQL.caBIG/2/org.cagrid.cql2" xmlns:ns9="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" xmlns:ns15="http://transfer.cagrid.org/Transfer" xmlns:ns2="gme://caCORE.caCORE/4.0/gov.nih.nci.ncia.domain" xmlns:ns7="http://CQL.caBIG/2/org.cagrid.cql2.results" xmlns:ns8="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" name="NBIAService" targetNamespace="http://nbia.nci.nih.gov/NBIAService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://org.cagrid.dataservice/DataService" location="./Cql2DataService.wsdl" />
  <import namespace="http://org.cagrid.dataservice.transfer/Cql2TransferDataService" location="./Cql2TransferDataService.wsdl" />
  <import namespace="http://gov.nih.nci.cagrid.data.transfer/TransferDataService" location="./TransferDataService.wsdl" />
  <import namespace="http://gov.nih.nci.cagrid.data/DataService" location="./DataService.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://nbia.nci.nih.gov/NBIAService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" schemaLocation="./xsd/cagrid/types/data/data.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.data/DataServiceExceptions" schemaLocation="./DataServiceExceptions.xsd" />
      <import namespace="http://org.cagrid.dataservice.cql/QueryLanguageSupport" schemaLocation="./QueryLanguageSupportMetadata.xsd" />
      <import namespace="http://nbia.nci.nih.gov/NBIAService/types" schemaLocation="./NBIAServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/Context/types" schemaLocation="./TransferServiceContextTypes.xsd" />
      <import namespace="http://nbia.nci.nih.gov/NBIAService/CQLResultTypes" schemaLocation="./NBIAService_CQLResultTypes.xsd" />
      <import namespace="http://CQL.caBIG/2/org.cagrid.cql2" schemaLocation="./CQLQueryComponents.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./1_gov.nih.nci.cagrid.CQLResultSet.xsd" />
      <import namespace="http://transfer.cagrid.org/Transfer" schemaLocation="./caGrid_Transfer.xsd" />
      <import namespace="gme://caCORE.caCORE/4.0/gov.nih.nci.ncia.domain" schemaLocation="gov.nih.nci.ncia.domain.xsd" />
      <import namespace="http://CQL.caBIG/2/org.cagrid.cql2.results" schemaLocation="./CQLQueryResults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <element name="NBIAServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns11:DomainModel" />
            <element ref="ns3:ServiceMetadata" />
            <element ref="ns12:QueryLanguageSupport" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="NBIAServicePortType" wsrp:ResourceProperties="tns:NBIAServiceResourceProperties">
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="query">
      <input message="wns2:QueryRequest" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryRequest" />
      <output message="wns2:QueryResponse" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryResponse" />
      <fault name="QueryProcessingException" message="wns2:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="wns2:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/MalformedQueryExceptionFaultMessage" />
    </operation>
    <operation name="executeQuery">
      <input message="wns3:ExecuteQueryRequest" wsa:Action="http://org.cagrid.dataservice/DataService/ExecuteQueryRequest" />
      <output message="wns3:ExecuteQueryResponse" wsa:Action="http://org.cagrid.dataservice/DataService/ExecuteQueryResponse" />
      <fault name="MalformedQueryException" message="wns3:MalformedQueryExceptionFaultMessage" wsa:Action="http://org.cagrid.dataservice/DataService/MalformedQueryExceptionFaultMessage" />
      <fault name="QueryProcessingException" message="wns3:QueryProcessingExceptionFaultMessage" wsa:Action="http://org.cagrid.dataservice/DataService/QueryProcessingExceptionFaultMessage" />
    </operation>
    <operation name="transferQuery">
      <input message="wns4:TransferQueryRequest" wsa:Action="http://gov.nih.nci.cagrid.data.transfer/TransferDataService/TransferQueryRequest" />
      <output message="wns4:TransferQueryResponse" wsa:Action="http://gov.nih.nci.cagrid.data.transfer/TransferDataService/TransferQueryResponse" />
      <fault name="MalformedQueryException" message="wns4:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data.transfer/TransferDataService/MalformedQueryExceptionFaultMessage" />
      <fault name="QueryProcessingException" message="wns4:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data.transfer/TransferDataService/QueryProcessingExceptionFaultMessage" />
    </operation>
    <operation name="executeTransferQuery">
      <input message="wns5:ExecuteTransferQueryRequest" wsa:Action="http://org.cagrid.dataservice.transfer/Cql2TransferDataService/ExecuteTransferQueryRequest" />
      <output message="wns5:ExecuteTransferQueryResponse" wsa:Action="http://org.cagrid.dataservice.transfer/Cql2TransferDataService/ExecuteTransferQueryResponse" />
      <fault name="MalformedQueryException" message="wns5:MalformedQueryExceptionFaultMessage" wsa:Action="http://org.cagrid.dataservice.transfer/Cql2TransferDataService/MalformedQueryExceptionFaultMessage" />
      <fault name="QueryProcessingException" message="wns5:QueryProcessingExceptionFaultMessage" wsa:Action="http://org.cagrid.dataservice.transfer/Cql2TransferDataService/QueryProcessingExceptionFaultMessage" />
    </operation>
  </portType>
</definitions>

